<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>
        <clear />
        <add name="quiz"
             providerName=""
             connectionString="URI=file:D:/lenovo1/D/Facultate/AN2 SEMESTRU2/MPP/accesa/identifier.sqlite" />
    </connectionStrings>
</configuration>
